extends layout
block Contenido
	// local variables - shortcuts
	-var index = appData.content.index
	-var utils = appData.content.utils

	h1#init-title #{ index.intro }
	
	a.btn.btn-success(href="/login") #{ utils.initSes }